{% extends "base.html" %}

{% block header %}
  <h1>Audio</h1>
{% end %}

{% block body %}  
  <form action="/deleteaudios" method="post">
    {% raw xsrf_form_html() %}
    {% for audio in audios %}
      <input type="checkbox" name="audio" value="{{ audio }}" >
      <audio src="{{ uploadpath }}{{ audio }}" controls></audio> {{ audio }}
      <br />
    {% end %}
    <br />
    <button type="submit" class="btn btn-primary">
      Delete selected images
    </button>
  </form>

  <hr />
  <div>
    <a href="/podcast">Back to Podcast Index</a>
  </div>
{% end %}
