{% extends "base.html" %}

{% block title %}
  {% if 'title' in entry %}
    {{ entry['title'] }}
  {% else %}
    Blog Entry
  {% end %}
{% end %}

{% block header %}
  <h1>Podcast</h1>
{% end %}

{% block body %}  

  <div class="container">

  <div>
    {% if 'title' in entry %}
      <h2>{{ entry['title'] }}</h2>
    {% end %}
    
    {% if 'body' in entry %}
      <div class="entry_body">
      {% raw markdown.convert(entry['body']) %}
      </div>
    {% end %}
    
    {% if 'image' in entry and file_exists('../' + upload_dir + str(entry['image'])) %}
      <div class="image">
        <img src="../{{ upload_dir }}{{ entry['image'] }}">
      </div>
    {% end %}
    
    {% if 'audio' in entry and file_exists('../' + upload_dir + str(entry['audio'])) %}
      <div class="audio">
        <audio src="../{{ upload_dir }}{{ entry['audio'] }}" controls></audio>
      </div>
    {% end %}

    {% if 'username' in entry %}
      <div class="user">
        Author: <a href="/podcast/{{ entry['username'] }}">{{ entry['username'] }}</a>
      </div>
    {% end %}
    
    {% if 'last_update' in entry %}
    <div class="last_update">
      Last update at {{ convert_to_jst(entry['last_update']).strftime("%Y-%m-%d %H:%M %Z") }}
    </div>
    {% end %}
    
    {% if 'ts' in entry %}
    <div class="created_at">
      Created at {{ convert_to_jst(entry['ts']).strftime("%Y-%m-%d %H:%M %Z") }}
    </div>
    {% end %}
    
    {% if user and session and user == entry['username'] %}
    <hr />
    <div class="row">
    <div class="col-md-1">
    <button class="btn btn-default" onClick='location.href="/update?entry_id={% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}"'>Edit</button>
    </div>
    <div class="col-md-1">
    <form action="/delete" method='post'>
      {% raw xsrf_form_html() %}
      <input type='hidden' name='entry_id' value='{% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}'>
      <button type='submit' class="btn btn-default">Delete</button>
    </form>
    </div>
    </div>
    <hr />
    {% end %}
    <div>
      <a href="/podcast">Back to Podcast Index</a>
    </div>

  </div>

  </div>

{% end %}