{% extends "base.html" %}

{% block header %}
  <h1>Images</h1>
{% end %}

{% block body %}  
  <form action="/deleteimages" method="post">
    {% raw xsrf_form_html() %}
    {% for image in images %}
      <input type="checkbox" name="image" value="{{ image }}" ><img src="{{ thumbnailpath }}{{ image }}"> {{ image }}<br />
    {% end %}
    <br />
    <button type="submit" class="btn btn-primary">
      Delete selected images
    </button>
  </form>

  <hr />
  <div>
    <a href="/podcast">Back to Podcast Index</a>
  </div>
{% end %}
