{% extends "base_modal.html" %}

{% block title %}
  Create New Entry
{% end %}

{% block header %}
  <h1>Create New Entry</h1>
{% end %}

{% block body %}
  <form method='post'>
    {% raw xsrf_form_html() %}
    <fieldset>
      <legend>New Entry</legend>
      <div class="form-group">
        <label>Title</label><input class='form-control' name='title' placeholder='Title' type='text'>
      </div>
      <div class="form-group">
        <label>Body</label><textarea class='form-control' name='body' placeholder='Body'></textarea>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input class='form-control' id='image' name='image' placeholder='Image' type='text'>
      </div>
      <div class="form-group">
        <label>Audio</label>
        <input class='form-control' id='audio' name='audio' placeholder='Audio' type='text'>
      </div>
      <div class="form-group">
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </fieldset>
  </form>
  <br />
  <button class="btn btn-default" data-toggle="modal" data-target="#selectImageModal">
    Select Image
  </button>
  <button class="btn btn-default" data-toggle="modal" data-target="#selectAudioModal">
    Select Audio
  </button>
{% end %}

{% block footer %}
    <div>
      <a href="/podcast">Podcast Home</a>
    </div>
{% end %}
