{% extends "base.html" %}

{% block title %}
  {{ podcast_title }}
{% end %}

{% block header %}
  <h1><a href="/podcast">{{ podcast_title }}</a></h1>
{% end %}

{% block body %}
  <div class="row">
    <div class="col-md-2">
      <hr />
      <a href="/rss">RSS</a>
      {% if not (user and session) %}
        <hr />
        <a href="/login?next=%2Fpodcast">Login</a>
      {% end %}
      {% if user and session %}
        <hr />
        <a href="/logout?logout=1">Logout</a>
        <hr />
        <button class="btn btn-default" onClick="location.href='/new'">Create New Entry</button>
        <hr />
        <button class="btn btn-default" onClick="location.href='/uploadform'">Upload Files</button>
        <hr />
        <button class="btn btn-default" onClick="location.href='/deleteall'">Delete All Entries</button>
        <hr />
      {% end %}
    </div>
    <div class="col-md-10">
      {% for entry in entries %}
      <div>
        {% if 'title' in entry %}
          <a href="/entry/{% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}"><h2>{{ entry['title'] }}</h2></a>
        {% end %}
        
        {% if 'body' in entry %}
        <div class="entry_body">
          {{ entry['body'] }}
        </div>
        {% end %}
        
        {% if 'user' in entry %}
          <div class="user">
            Author: <a href="/podcast/{{ entry['user'] }}">{{ entry['user'] }}</a>
          </div>
        {% end %}
        
        {% if 'last_update' in entry %}
        <div class="last_update">
          Last update at {{ convert_to_jst(entry['last_update']).strftime("%Y-%m-%d %H:%M %Z") }}
        </div>
        {% end %}
        
        {% if 'ts' in entry %}
        <div class="created_at">
          Created at {{ convert_to_jst(entry['ts']).strftime("%Y-%m-%d %H:%M %Z") }}
        </div>
        {% end %}
        
        <div>
        <a href="/entry/{% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}">Permalink</a>
        </div>
        
        {% if user and session %}
        <div class="row">
        <div class="col-md-1">
        <button class="btn btn-default" onClick='location.href="/update?entry_id={% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}"'>Edit</button>
        </div>
        <div class="col-md-1">
        <form action="/delete" method='post'>
          {% raw xsrf_form_html() %}
          <input type='hidden' name='entry_id' value='{% if 'entry_id' in entry %}{{ entry['entry_id'] }}{% end %}'>
          <button type='submit' class="btn btn-default">Delete</button>
        </form>
        </div>
        </div>
        {% end %}
      </div>
      <hr />
      {% end %}
    </div>
  </div>
{% end %}
  
{% block footer %}
{% end %}
