<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Change Password</title>
  </head>
  <body>
    <p>Username or password is not valid.</p>
    <form method='post'>
      {% raw xsrf_form_html() %}
      <fieldset>
        <legend>Change Password</legend>
        <label>Username <input name='username' placeholder='Username'></label><br>
        <label>Old Password <input name='old_password' placeholder='Old Password' type='password'></label><br>
        <label>New Password <input name='new_password' placeholder='New Password' type='password'></label><br>
        <button type='submit'>Submit</button>
      </fieldset>
    </form>
  </body>
</html>
