{% extends "base_modal.html" %}

{% block title %}
  Upload Complete
{% end %}

{% block header %}
  <h1>Upload Complete</h1>
{% end %}

{% block body %}  
    <div>
      Files are uploaded. Check {{ uploads }} folder.
    </div>
    <div>
        {% if image_filename %}
        <img src="/uploads/{{ image_filename }}" />
        {% end %}
        {% if audio_filename %}
        <audio src="/uploads/{{ audio_filename }}" controls>
          <p>Browser needs to support audio tag.</p>
        </audio>
        {% end %}
    </div>

    <form action='/new' method='post'>
      {% raw xsrf_form_html() %}
      <fieldset>
        <legend>New Entry</legend>
        <div class="form-group">
          <label>Title</label>
          <input class='form-control' name='title' placeholder='Title' type='text' >
        </div>
        <div class="form-group">
          <label>Body</label>
          <textarea class='form-control' name='body' placeholder='Body'></textarea>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input class='form-control' id='image' name='image' placeholder='Image Filename' type='text' value='{{ image_filename }}'>
        </div>
        <div class="form-group">
          <label>Audio</label>
          <input class='form-control' id='audio' name='audio' placeholder='Audio Filename' type='text' value='{{ audio_filename }}'>
        <br>
        </div>
        <div class="form-group">
          <button type='submit' class='btn btn-primary'>Submit</button>
        </div>
      </fieldset>
    </form>
    <br />
    <button class="btn btn-default" data-toggle="modal" data-target="#selectImageModal">
      Select Image
    </button>
    <button class="btn btn-default" data-toggle="modal" data-target="#selectAudioModal">
      Select Audio
    </button>
{% end %}

{% block footer %}
<hr />
  <a href="/blog">Back to Blog Index</a>
{% end %}
